<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="za.co.smileyjoedev.debug">

    <application>

        <meta-data android:name="debug_tag" android:value="debug" />
        <meta-data android:name="debug_enabled" android:value="false" />

    </application>

</manifest>
